extends layout

block content
  h1 Solotter
  p #[strong Solotter] is a twitter client for those who want to stay focused on their works.

  p #[a(href="/auth/login") Login with Twitter]

  h2 Features
  ol
    li Login
    li Tweet

  h2 Links
  ul
    li #[a(href="https://github.com/vain0/Solotter-on-Web") GitHub repository]
    li #[a(href="https://github.com/vain0/Solotter-on-Web/issues") Report issues]
