body {
  margin: 0;
  padding: 48px;
  font: 16pt "Lucida Grande", Helvetica, Arial, sans-serif;
}

body > main {
  max-width: 1200px;
  margin: 0 auto;
}

.tweet-form {
  width: 600px;
}

.tweet-form .tweet-form-textbox {
  width: 100%;
}
