:root {
    --primary-color-light: #6746c3;
    --primary-color-dark: #000063;
    --primary-color: #311b92;
    --primary-color-text: #fafafa;
    --accent-color: #ffa000;
    --accent-color-text: #212121;
    --accent-color-light: #ffd149;
    --accent-color-dark: #c67100;
    --base-color: #fafafa;
    --base-color-text: #212121;
    --divider-color: #bdbdbd;
}

html {
    /* 1rem = 10px. */
    font-size: 62.5%;
}

body,
button,
input,
optgroup,
select,
textarea {
    line-height: 1.5;
}

button:disabled,
input:read-only {
    opacity: 0.75;
}



html,
body,
#app,
#app > * {
    height: 100%;
}

body {
    font-size: 1.6rem;
    font-family: 'Noto Sans JP', sans-serif;
    font-feature-settings: 'palt' on;

    color: var(--base-color-text);
}

#app {
    background-color: var(--base-color);
}

#app > article {
    display: flex;
    flex-flow: column nowrap;
}

#app header {
    background-color: var(--primary-color-dark);
}

#app header > h1 {
    margin: 0;
    padding: 16px 16px;

    font-size: 2.5rem;
    color: var(--primary-color-text);
}

#app main {
    flex: 1 1 auto;
    margin: 16px;

    display: flex;
    flex-flow: column nowrap;
}

@media (min-width: 649px) {
    #app header > h1 {
        max-width: 600px;
    }

    #app main {
        max-width: 600px;
        align-self: center;
    }
}

#app h2,
#app h3 {
    margin: 0;
    padding: 8px 16px;
}

#app h2 {
    font-size: 2.3rem;
    color: var(--primary-color-dark);
}

#app h3 {
    font-size: 2.1rem;
    color: var(--primary-color-dark);
}



#loading-component {
    background: var(--primary-color);
    color: var(--primary-color-text);
}

#loading-component main {
    align-items: center;
    justify-content: center;

    font-size: 3.0rem;
    font-weight: 900;
}



#tweet-component .user-name {
    margin: 8px 0;
}

#tweet-component .tweet-form {
    display: flex;
    flex-flow: column nowrap;
}

#tweet-component .tweet-textarea {
    border: none;
    background-color: var(--base-color);
}

#tweet-component .tweet-button {
    align-self: flex-end;

    margin: 16px 0;
    padding: 4px 8px;
}

#tweet-component .tweet-message {
    margin: 16px 4px;
    padding: 4px 8px;
    border-radius: 4px;

    background: var(--accent-color-light);
    color: var(--accent-color-text);
}
